body {
	font: bold 15px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}

input[type=submit] {
	border: medium none;
	margin: 5px;
	background-color: #34495E;
	color: #FFFFFF;
	border-radius: 6px;
	font-size: 17px;
	line-height: 1.471;
	padding: 10px 19px;
	width: 120px;
}

input[type=submit]:HOVER {
	background-color: #415B76;
	cursor: pointer;
}

input[type=text],input[type=password] {
	border: 2px solid #BDC3C7;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	margin: 5px;
	width: 250px;
	height: 30px;
	font-size: 16px;
}

input[type=text]:FOCUS,input[type=password]:FOCUS {
	border: 2px solid #34495E;
}

.header {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #E5E5E5;
}

.header-text {
	float: left;
	font-size: 40px;
	color: #34495E;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	margin-top: 15px;
}

.header-buttons {
	float: right;
}

.table {
	border-collapse: collapse;
}

.table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

.error-message {
	color: red !important;
	margin-left: 10px;
}

.info-message {
	color: green !important;
	margin-left: 10px;
}

.file {
	border: medium none;
	margin: 5px;
	background-color: #34495E;
	color: #FFFFFF;
	border-radius: 6px;
	font-size: 17px;
	line-height: 1.471;
	padding: 10px 19px;
	width: 100%;
}