<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/templates/template.xhtml">
	<ui:define name="title">
		<title>My Files</title>
	</ui:define>
	<ui:define name="body">
		<h:form enctype="multipart/form-data">
			<h:inputText value="#{filesBean.searchBy}" rendered="#{userSessionBean.loggedIn()}" />
			<h:commandButton value="Search" action="#{filesBean.search()}" rendered="#{userSessionBean.loggedIn()}" />
			<h:dataTable value="#{filesBean.files}" var="file" rendered="#{userSessionBean.loggedIn()}" styleClass="table"
				headerClass="table-header" rowClasses="table-odd-row,table-even-row">
				<h:column>
					<f:facet name="header">ID</f:facet>
    			#{file.id}
    			</h:column>
				<h:column>
					<f:facet name="header">Name</f:facet>
    			#{file.name}
    			</h:column>
				<h:column style="width: 50px">
					<f:facet name="header">FileVersion</f:facet>
    			#{file.fileversion}
    			</h:column>
				<h:column>
					<f:facet name="header">Description</f:facet>
    			#{file.description}
    			</h:column>
				<h:column>
					<f:facet name="header">Tag</f:facet>
    			#{file.tag}
    			</h:column>
				<h:column>
					<f:facet name="header">Size</f:facet>
                    <h:outputText value="#{(file.size / 1048576)}">
                        <f:convertNumber pattern="#0.000" />
                    </h:outputText> MB
    			</h:column>
				<h:column>
					<f:facet name="header">Download</f:facet>
					<h:commandButton value="Download" action="#{filesBean.download()}">
						<f:setPropertyActionListener target="#{filesBean.selectedFileId}" value="#{file.id}" />
					</h:commandButton>
				</h:column>
				<h:column>
					<f:facet name="header">Delete</f:facet>
					<h:commandButton value="Delete" action="#{filesBean.delete()}">
						<f:setPropertyActionListener target="#{filesBean.selectedFileId}" value="#{file.id}" />
					</h:commandButton>
				</h:column>
			</h:dataTable>
			<h:messages styleClass="error-message" />
			<h:outputText value="#{filesBean.errorMessage}" rendered="#{not empty filesBean.errorMessage}"
				styleClass="error-message" />
		</h:form>
	</ui:define>
</ui:composition>
</html>
