<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition template="/templates/template.xhtml">
	<ui:define name="title">
		<title>Home</title>
	</ui:define>
	<ui:define name="body">
		<h:form id="homeForm">
			<h:outputText value="Welcome to the upload app." styleClass="header-text" style="width: 100%" rendered="#{!userSessionBean.loggedIn()}"/>
			<h:outputText value="Please login to access your files." styleClass="header-text" style="width: 100%" rendered="#{!userSessionBean.loggedIn()}"/>
            <h:outputText value="Welcome back #{userSessionBean.user.username}" styleClass="header-text" style="width: 100%" rendered="#{userSessionBean.loggedIn()}"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>
