<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/templates/template.xhtml">
    <ui:define name="title">
        <title>
            Login
        </title>
    </ui:define>
    <ui:define name="body">
        <h:form id="loginForm">
            <h:outputLabel for="username" value="Username"/>
            <h:inputText value="#{loginBean.username}" id="username" required="true"
                         requiredMessage="Username required"/>
            <br/>
            <h:outputLabel for="password" value="Password" style="margin-right: 3px"/>
            <h:inputSecret value="#{loginBean.password}" id="password" required="true"
                           requiredMessage="Password required"/>
            <br/>
            <h:commandButton id="loginButton" value="Login" action="#{loginBean.login}"/>
            <br/>
            <h:messages styleClass="error-message"/>
            <h:outputText value="#{loginBean.errorMessage}" rendered="#{not empty loginBean.errorMessage}"
                          styleClass="error-message"/>
            <h:outputText value="#{loginBean.successMessage}" rendered="#{not empty loginBean.successMessage}"
                          styleClass="info-message"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
