<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/templates/template.xhtml">
	<ui:define name="title">
		<title>Upload File</title>
	</ui:define>
	<ui:define name="body">
		<h:form enctype="multipart/form-data">
			<h:panelGrid rendered="#{userSessionBean.loggedIn()}">
				<h:inputFile id="file" value="#{uploadBean.part}" required="true" requiredMessage="File not selected"
					styleClass="file" />
				<h:commandButton value="Upload" actionListener="#{uploadBean.upload}" />
			</h:panelGrid>
            <h:outputLabel for="tag" value="Tag" style="margin-right: 57px"/>
            <h:inputText value="#{uploadBean.tag}" id="tag" maxlength="20"/>
            <br/>
            <h:outputLabel for="tag" value="Description"/>
            <h:inputText value="#{uploadBean.description}" id="description" maxlength="100"/>
            <br/>
			<h:messages styleClass="error-message" />
			<h:outputText value="#{uploadBean.errorMessage}" rendered="#{not empty uploadBean.errorMessage}"
				styleClass="error-message" />
			<h:outputText value="#{uploadBean.successMessage}" rendered="#{not empty uploadBean.successMessage}"
				styleClass="info-message" />
		</h:form>
	</ui:define>
</ui:composition>
</html>