<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<h:form>
		<div class="header">
			<h:commandButton value="Home" action="#{navigationBean.home}" />
			<div class="header-buttons">
				<h:outputText value="#{userSessionBean.user.username}" rendered="#{userSessionBean.loggedIn()}"
					styleClass="header-text" />
				<h:commandButton value="Uploads" rendered="#{userSessionBean.loggedIn()}" action="#{navigationBean.upload()}" />
				<h:commandButton value="Downloads" rendered="#{userSessionBean.loggedIn()}" action="#{navigationBean.files()}" />
				<h:commandButton value="Logout" rendered="#{userSessionBean.loggedIn()}" action="#{userSessionBean.logout}" />
				<h:commandButton value="Login" rendered="#{!userSessionBean.loggedIn()}" action="#{navigationBean.login()}" />
				<h:commandButton value="Register" rendered="#{!userSessionBean.loggedIn()}" action="#{navigationBean.register}" />
			</div>
		</div>
	</h:form>
</ui:composition>

</html>

