<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <f:facet name="first">
        <meta content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </f:facet>
    <f:facet name="last">
        <h:outputStylesheet name="style.css" library="css"/>
    </f:facet>
    <ui:insert name="title">
    </ui:insert>
</h:head>

<h:body>
    <ui:insert name="header">
        <ui:include src="header.xhtml"/>
    </ui:insert>

    <ui:insert name="body"/>

</h:body>

</html>

